<div id="activity_buttons" class="preload disabled">
	<div id="page_wrapper">
		<div class="page" id="page_1">
			<a class="activity_button" id="baseball" href="activities/baseball">
				<img src="/images/youth/icons/baseball.png" />
			</a>
			<a class="activity_button" id="basketball" href="activities/basketball">
				<img src="/images/youth/icons/basketball.png" />
			</a>
			<a class="activity_button" id="biking" href="activities/biking">
				<img src="/images/youth/icons/biking.png" />
			</a>
			<a class="activity_button" id="chainsaw" href="activities/chainsaw">
				<img src="/images/youth/icons/chainsaw.png" />
			</a>
			<a class="activity_button" id="cheerleading" href="activities/cheerleading">
				<img src="/images/youth/icons/cheerleading.png" />
			</a>
			<a class="activity_button" id="cooking" href="activities/cooking">
				<img src="/images/youth/icons/cooking.png" />
			</a>
			<a class="activity_button" id="fishing" href="activities/fishing">
				<img src="/images/youth/icons/fishing.png" />
			</a>
		</div>
		<div class="page" id="page_2">
			<a class="activity_button" id="football" href="activities/football">
				<img src="/images/youth/icons/football.png" />
			</a>
			<a class="activity_button" id="gymnastics" href="activities/gymnastics">
				<img src="/images/youth/icons/gymnastics.png" />
			</a>
			<a class="activity_button" id="hiking" href="activities/hiking">
				<img src="/images/youth/icons/hiking.png" />
			</a>
			<a class="activity_button" id="hiphop" href="activities/hiphop">
				<img src="/images/youth/icons/hiphop.png" />
			</a>
			<a class="activity_button" id="horsebackriding" href="activities/horsebackriding">
				<img src="/images/youth/icons/horsebackriding.png" />
			</a>
			<a class="activity_button" id="hunting" href="activities/hunting">
				<img src="/images/youth/icons/hunting.png" />
			</a>
			<a class="activity_button" id="knitting" href="activities/knitting">
				<img src="/images/youth/icons/knitting.png" />
			</a>
		</div>
		<div class="page" id="page_3">
			<a class="activity_button" id="library" href="activities/library">
				<img src="/images/youth/icons/library.png" />
			</a>
			<a class="activity_button" id="music" href="activities/music">
				<img src="/images/youth/icons/music.png" />
			</a>
			<a class="activity_button" id="photo" href="activities/photo">
				<img src="/images/youth/icons/photo.png" />
			</a>
			<a class="activity_button" id="rodeo" href="activities/rodeo">
				<img src="/images/youth/icons/rodeo.png" />
			</a>
			<a class="activity_button" id="sewing" href="activities/sewing">
				<img src="/images/youth/icons/sewing.png" />
			</a>
			<a class="activity_button" id="skateboarding" href="activities/skateboarding">
				<img src="/images/youth/icons/skateboarding.png" />
			</a>
			<a class="activity_button" id="soccer" href="activities/soccer">
				<img src="/images/youth/icons/soccer.png" />
			</a>
		</div>
		<div class="page" id="page_4">
			<a class="activity_button" id="squaredancing" href="activities/squaredancing">
				<img src="/images/youth/icons/squaredancing.png" />
			</a>
			<a class="activity_button" id="swim" href="activities/swim">
				<img src="/images/youth/icons/swim.png" />
			</a>
			<a class="activity_button" id="tennis" href="activities/tennis">
				<img src="/images/youth/icons/tennis.png" />
			</a>
			<a class="activity_button" id="volleyball" href="activities/volleyball">
				<img src="/images/youth/icons/volleyball.png" />
			</a>
			<div class="activity_button"></div>
			<div class="activity_button"></div>
			<div class="activity_button"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div id="control_arrows">
	<div id="arrow_left" class="disabled">
		<img src="/images/youth/arrow_left.png" />
	</div>
	<div id="arrow_right" class="disabled">
		<img src="/images/youth/arrow_right.png" />
	</div>
	<div class="clear"></div>
</div>