<!--
var drunkBottleConfig = {
	activities : {
		//name					: //video count
		"baseball"				: 2,
		"basketball"			: 2,
		"biking"				: 2,
		"chainsaw"				: 2,
		"cheerleading"			: 1,
		"cooking"				: 1,
		"fishing"				: 1,
		"football"				: 2,
		"gymnastics"			: 1,
		"hiking"				: 1,
		"hiphop"				: 1,
		"horsebackriding"		: 1,
		"hunting"				: 1,
		"knitting"				: 2,
		"library"				: 2,
		"music"					: 2,
		"photo"					: 1,
		"rodeo"					: 1,
		"sewing"				: 1,
		"skateboarding"			: 2,
		"soccer"				: 1,
		"squaredancing"			: 1,
		"swim"					: 1,
		"tennis"				: 1,
		"volleyball"			: 1
	}
};
-->




<div id="activity_buttons" class="preload disabled">
	<div class="page" id="page_1">
		<a class="activity_button" id="baseball" href="activities/baseball">
			<img src="/images/youth/icons/baseball.png" />
		</a>
		<a class="activity_button" id="basketball" href="activities/basketball">
			<img src="/images/youth/icons/basketball.png" />
		</a>
		<a class="activity_button" id="biking" href="activities/biking">
			<img src="/images/youth/icons/biking.png" />
		</a>
		<a class="activity_button" id="chainsaw" href="activities/chainsaw">
			<img src="/images/youth/icons/chainsaw.png" />
		</a>
		<a class="activity_button" id="cheerleading" href="activities/cheerleading">
			<img src="/images/youth/icons/cheerleading.png" />
		</a>
		<a class="activity_button" id="cooking" href="activities/cooking">
			<img src="/images/youth/icons/cooking.png" />
		</a>
		<a class="activity_button" id="fishing" href="activities/fishing">
			<img src="/images/youth/icons/fishing.png" />
		</a>
	</div>
</div>

<div id="control_arrows">

</div>