<video id="idle_01" class="on" autoplay="autoplay" webkit-playsinline >
	<source src="/videos/common/mp4/idle/idle_01.mp4" type="video/mp4" />
	<source src="/videos/common/ogv/idle/idle_01.ogv" type="video/ogg" />
</video>

<video id="idle_02" webkit-playsinline >
	<source src="/videos/common/mp4/idle/idle_02.mp4" type="video/mp4" />
	<source src="/videos/common/ogv/idle/idle_02.ogv" type="video/ogg" />
</video>

<video id="idle_03" webkit-playsinline >
	<source src="/videos/common/mp4/idle/idle_03.mp4" type="video/mp4" />
	<source src="/videos/common/ogv/idle/idle_03.ogv" type="video/ogg" />
</video>

<video id="idle_04" webkit-playsinline >
	<source src="/videos/common/mp4/idle/idle_04.mp4" type="video/mp4" />
	<source src="/videos/common/ogv/idle/idle_04.ogv" type="video/ogg" />
</video>

<video id="idle_05" webkit-playsinline >
	<source src="/videos/common/mp4/idle/idle_05.mp4" type="video/mp4" />
	<source src="/videos/common/ogv/idle/idle_05.ogv" type="video/ogg" />
</video>

<video id="idle_06" webkit-playsinline >
	<source src="/videos/common/mp4/idle/idle_06.mp4" type="video/mp4" />
	<source src="/videos/common/ogv/idle/idle_06.ogv" type="video/ogg" />
</video>

<div id="home_controls" webkit-playsinline >
	<div id="gender_tag"></div>
	<a href="male" class="gender_button" id="gender_male"></a>
	<a href="female" class="gender_button" id="gender_female"></a>
	<div class="clear"></div>
</div>