<div id="youth_fact_wrap_01" class="fact_wrap">
	<video id="youthfact_01" autoplay="autoplay" webkit-playsinline >
		<source src="/videos/youth/mp4/facts/youthfact_01.mp4" type="video/mp4" />
		<source src="/videos/youth/ogv/facts/youthfact_01.ogv" type="video/ogg" />
	</video>
</div>

<div id="youth_fact_wrap_02" class="fact_wrap">
	<video id="youthfact_02" autoplay="autoplay" webkit-playsinline >
		<source src="/videos/youth/mp4/facts/youthfact_02.mp4" type="video/mp4" />
		<source src="/videos/youth/ogv/facts/youthfact_02.ogv" type="video/ogg" />
	</video>
</div>

<div id="youth_fact_wrap_03" class="fact_wrap">
	<video id="youthfact_03" autoplay="autoplay" webkit-playsinline >
		<source src="/videos/youth/mp4/facts/youthfact_03.mp4" type="video/mp4" />
		<source src="/videos/youth/ogv/facts/youthfact_03.ogv" type="video/ogg" />
	</video>
</div>

<div id="youth_fact_wrap_04" class="fact_wrap">
	<video id="youthfact_04" autoplay="autoplay" webkit-playsinline >
		<source src="/videos/youth/mp4/facts/youthfact_04.mp4" type="video/mp4" />
		<source src="/videos/youth/ogv/facts/youthfact_04.ogv" type="video/ogg" />
	</video>
</div>

<div id="next_button"></div>