/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	color : #ffffff;
}

.clear {
	float: none;
	clear: both;
}

#wrapper {
	position : absolute;
	left : 0;
	top : 0;
	right : 0;
	bottom : 0;
	width : 100%;
	height : 100%;
	background-color: #666;
}

#body {
	position : absolute;
	width: 70%;
	height : 100%;
	left: 15%;
	top : 0;
	right : 15%;
	bottom : 0;
	background-color : #231f20;
	overflow : hidden;
}

video {
	width: 100%;
	display: none;
	margin-bottom : 6%;
}

video.on {
	display: block;
}

#controls {
	position : relative;
}

#control_arrows {
	position : absolute;
	top : 12.5%;
	left : 0;
	right : 0;
	width : 96%;
	padding : 0 2%;
}

#arrow_left {
	display : block;
	position : relative;
	float : left;
	width : 2.5%;
	pointer-events : auto;
	cursor : pointer;
}

#arrow_right {
	display : block;
	position : relative;
	float : right;
	width : 2.5%;
	pointer-events : auto;
	cursor : pointer;
}

#arrow_left.disabled, #arrow_right.disabled {
	opacity: .6;
	pointer-events:none;
}

#arrow_left img, #arrow_right img {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
}

#activity_buttons {
	position : relative;
	width : 90%;
	height: 500px;
	overflow: hidden;
	margin : 0 auto;
	transition : opacity .5s;
	padding-top: 6%;
	margin-top : -6%;

}

#page_wrapper {
	width : 400%;
	position : relative;
	transition : left .5s 0;
}

#page_wrapper.page_1 {
	left: 0%;
}

#page_wrapper.page_2 {
	left: -100%;
}

#page_wrapper.page_3 {
	left: -200%;
}

#page_wrapper.page_4 {
	left: -300%;
}

#activity_buttons .page {
	position : relative;
	display : flex;
	justify-content: space-around;
	float: left;
	width: 25%;
	height: 500px;
}

.activity_button {
	position : relative;
	display : block;
	width: 9.271523178808%;
	transition : right 1s 0, transform .25s 0;
	right: 0%;
}

.activity_button:hover {
	transform:scale(1.01);
	transition : transform .25s 0;
}

.activity_button img {
	display: block;
	position: absolute;
	top : 0;
	left : 0;
	width: 100%;
}

#activity_buttons.disabled {
	opacity: .6;
	pointer-events : none;
}

#activity_buttons.preload #page_1 .activity_button {
	right : 110%;
}

.activity_button:nth-child(1) {
transition : right 1s 0.6s, transform .25s 0;
}

.activity_button:nth-child(2) {
	transition : right 1s 0.5s, transform .25s 0;
}

.activity_button:nth-child(3) {
	transition : right 1s 0.4s, transform .25s 0;
}

.activity_button:nth-child(4) {
	transition : right 1s 0.3s, transform .25s 0;
}

.activity_button:nth-child(5) {
	transition : right 1s 0.2s, transform .25s 0;
}

.activity_button:nth-child(6) {
	transition : right 1s 0.1s, transform .25s 0;
}

.activity_button:nth-child(7) {
	transition : right 1s 0, transform .25s 0;
}